a.note_super{
	font-size: xx-small;
	vertical-align: super;
}

hr.note_hr{
	width: 90%;
}

.notexist{
	background-color: #ddd;
}

.anchor_super {
	font-size:xx-small;
	vertical-align:super;
}




table{
	border-collapse: collapse;
	color : #000;
	background-color : silver;
}

td,th{
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}

th { 
	font-weight : bold;
	padding : 4px;
}

td{
	background-color : #ddd;
}
	
